langchain
python-dotenv
langchain-community
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
huggingface_hub
mysql-connector-python
duckduckgo_search==5.3.1b1
validators==0.28.1
SQLAlchemy
langchain_core
streamlit
groq
neo4j
google-generativeai
oracledb
pathlib
pymongo
pymysql
sqlite3
redis
psycopg2
psycopg2-binary
