langchain
python-dotenv
langchain-community
langchain-text-splitters
langchain-openai
duckdb
openai
langchain-groq
mysql-connector-python
duckduckgo_search==5.3.1b1
validators==0.28.1
SQLAlchemy
langchain_core
streamlit
groq
oracledb
pymongo
redis
psycopg2-binary>=2.9.10

